[Desktop Entry]
Comment[es_AR]=
Comment=
Exec=/home/isoroc/init.sh
GenericName[es_AR]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[es_AR]=init.sh
Name=init.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
