[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Santiago Calligari
	email = 89709491+SantiagoCalligari@users.noreply.github.com
